<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pokemons</title>
</head>
<body>
    <header>
        <a href= "/"><h1>Pokedex</h1></a>
        <a href="/cadastro">Cadastre</a>
        <a href="/Pokedex">Pokemons cadastrados</a>
    </header>
    <section  class = " formulario" >
    <form  method = "POST"  action = "/form ">
        <div class= "box">
            <label  for = " imagem " > Imagem do Pokémon</label ><br>
            <input  type = "url"  name = "imagem"  placeholder = "url da imagem">
        </div>
        <div class= "box">
            <label  for = " numero " > Número</label ><br>
            <input  type = " text "  name = "numero"  placeholder = " Número do pokemon" >
        </div >
        <div class= "box">
            <label  for = " nome " > Nome</label ><br>
            <input  type = " text "  name = "nome"  placeholder = " Nome do pokemon" >
        </div >
        <div class= "box" >
            <label  for = " tipo " > Tipo</label ><br>
            <input  type = " text "  name = "tipo"  placeholder = " Digite o tipo " >
        </div >
        <div class= "box" >
            <label  for = " descricao " > Descricao</label ><br>
            <input  type = " text "  name = "descricao"  placeholder = "Descreva seu pokemon" >
        </div >
        <div class= "box">
            <label  for = "altura" > Altura</label ><br>
            <input  type = " number "  name = "altura"  placeholder = "Qual é o peso do seu pokemon" >
        </div >
        <div class= "box">
            <label  for = " peso " > Peso</label ><br>
            <input  type = " number "  name = "peso"  placeholder = "Qual é o peso do Pokemon" >
        </div >
        <div class= "box">
            <label  for = " categoria " > Categoria</label ><br>
            <input  type = " text "  name = "categoria"  placeholder = " Digite a Categoria " >
        </div >
        <div class= "box" >
            <label  for = " habilidade " > Habilidade</label ><br>
            <input  type = " text "  name = "habilidade"  placeholder = "Qual a habilidade do seu pokemon?" >
        </div >
        <div class= "box b" ></div>
        <button  type = " submit " > Salvar </ button >
        </div >
        </section>
        <footer>Projeto por: Karen Lourenço</footer>
        <script src="/js/script.js"></script>
</body>
</html>